body {
    background-color: #FFC0CB;
}
.container{
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 50px 80px;
    border-color: #20B2AA;
    border-width: 3px;
    border-radius: 18px;
}




.infomation {
    display: flex;
    margin-left: 40px;
    margin-top: 36.8px;

}
.topic {
    padding-right: 30px;
}
.detail {
    text-align:start;
}
.anh1 {
    width: 80px;
    margin-top: 40px;
}
